@model Tdtlession07.Models.TdtKhoa

@{
    ViewBag.Title = "TdtDetails";
}

<h2>Details</h2>

<div>
    <h4>TdtKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TdtTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TdtTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TdtTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TdtTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TdtMaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
